@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 3

   WidgetMage Form Styles
   Author: Aiden Martinez
   Date:   01.17.2019

   Filename: wm_forms.css

*/

/* Field Set Styles */
fieldset {
    border: 0px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

fieldset legend {
    background-color: rgb(232, 232, 232);
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

/* DIV Styles */
div.slider {
    float: left;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
}



/* Control Styles */




/* Placeholder Styles */